spring:
  application:
    name: summarizer
  docker:
    compose:
      enabled: false
  datasource:
    url: jdbc:postgresql://localhost:5432/demo
    username: demo
    password: demo
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

security:
  jwt:
    secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
    expiration-minutes: 60

claude:
  api-key: ${CLAUDE_API_KEY:}
